<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pagetitle">TVScience</title>
    <link rel="stylesheet" href="/static/css/mtv.css">
</head>
<body>
    <div id="navbar">
        <a href="/"><button class="navbarbtn">Home</button></a>
        <a href="/mainmoviepage"><button class="navbarbtn">Movies</button></a>
        <a href="/maintvpage"><button class="navbarbtn">TV Shows</button></a>
    </div>
	<h1 id="header">TV Science</h1>
    <div>
        <a href="/tvsciencecolumbia">
            <img src="/tvthumbnails/columbia.jpg" class="tvshowimage" alt="Columbia">
        </a>
        <a href="/tvscienceforgedinfire">
            <img src="/tvthumbnails/forgedinfire.jpg" class="tvshowimage" alt="Forged in Fire">
        </a>
        <a href="/tvsciencepersonofinterest">
            <img src="/tvthumbnails/personofinterest.jpg" class="tvshowimage" alt="Person of Interest">
        </a>
        <a href="/tvscienceprehistoricplanet">
            <img src="/tvthumbnails/prehistoricplanet.jpg" class="tvshowimage" alt="Prehistoric Planet">
        </a>
        <a href="/tvsciencethepitt">
            <img src="/tvthumbnails/thepitt.jpg" class="tvshowimage" alt="The Pitt">
        </a>
    </div>
</body>
</html>