<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prehistoric Planet</title>
    <link rel="stylesheet" href="/static/css/mtv.css">
</head>
<body>
    <div id="navbar">
        <a href="/"><button class="navbarbtn">Home</button></a>
        <a href="/mainmoviepage"><button class="navbarbtn">Movies</button></a>
        <a href="/maintvpage"><button class="navbarbtn">TV Shows</button></a>
    </div>
    <h1>Prehistoric Planet</h1>
    <div class="sea-epi-div">
        {{range $season, $episodes := .Seasons}}
        <div class="sea-div">
            <h2>Season {{$season}}</h2>
            <div class="epi-div">
            {{range $episodes}}
                <button id={{.TvId}} class="epi-div-item">{{.Episode}}</button>
            {{end}}
            </div>
        </div>
        {{end}}
    </div>
</body>
</html>