<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pagetitle">TVSciFi</title>
    <link rel="stylesheet" href="/static/css/mtv.css">
</head>

<body>
    <div id="navbar">
        <a href="/"><button class="navbarbtn">Home</button></a>
        <a href="/mainmoviepage"><button class="navbarbtn">Movies</button></a>
        <a href="/maintvpage"><button class="navbarbtn">TV Shows</button></a>
        <a href="http://10.0.4.76:9090/"><button class="navbarbtn">Music</button></a>
    </div>
    <h1 id="header">TV SciFi</h1>
    <div>
        <a href="/tvscifialteredcarbon">
            <img src="/tvthumbnails/alteredcarbon.jpg" class="tvshowimage" alt="Altered Carbon">
        </a>
        <a href="/tvscificowboybebop">
            <img src="/tvthumbnails/cowboy_bebop.jpg" class="tvshowimage" alt="CowboyBebop">
        </a>
        <a href="/tvscififallout">
            <img src="/tvthumbnails/fallout.jpg" class="tvshowimage" alt="Fallout">
        </a>
        <a href="/tvscififorallmankind">
            <img src="/tvthumbnails/forallmankind.jpg" class="tvshowimage" alt="For All Mankind">
        </a>
        <a href="/tvscifistarcity">
            <img src="/tvthumbnails/starcity.jpg" class="tvshowimage" alt="Star City">
        </a>
        <a href="/tvscififoundation">
            <img src="/tvthumbnails/foundation.jpg" class="tvshowimage" alt="Foundation">
        </a>
        <a href="/tvscifihalo">
            <img src="/tvthumbnails/halo.jpg" class="tvshowimage" alt="Halo">
        </a>
        <a href="/tvscifilostinspace">
            <img src="/tvthumbnails/lostinspace.jpg" class="tvshowimage" alt="Lost in Space">
        </a>
        <a href="/tvscifimonarchlegacyofmonsters">
            <img src="/tvthumbnails/monarchlegacyofmonsters.jpg" class="tvshowimage" alt="Monarch: Legacy of Monsters">
        </a>
        <a href="/tvscifinightsky">
            <img src="/tvthumbnails/nightsky.jpg" class="tvshowimage" alt="Night Sky">
        </a>
        <a href="/tvscifiorville">
            <img src="/tvthumbnails/orville.jpg" class="tvshowimage" alt="The Orville">
        </a>
        <a href="/tvscifiraisedbywolves">
            <img src="/tvthumbnails/raisedbywolves.jpg" class="tvshowimage" alt="Raised by Wolves">
        </a>
        <a href="/tvscifisilo">
            <img src="/tvthumbnails/silo.jpg" class="tvshowimage" alt="Silo">
        </a>
        <a href="/tvscifilastofus">
            <img src="/tvthumbnails/lastofus.jpg" class="tvshowimage" alt="The Last of Us">
        </a>
    </div>
</body>
<script src="/static/javascript/mtv.js"></script>

</html>