<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVStarWars</title>
    <link rel="stylesheet" href="/static/css/mtv.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
    <div id="navbar">
        <a href="/"><button class="navbarbtn">Home</button></a>
        <a href="/mainmoviepage"><button class="navbarbtn">Movies</button></a>
        <a href="/maintvpage"><button class="navbarbtn">TV Shows</button></a>
        <a href="http://10.0.4.76:9090/"><button class="navbarbtn">Music</button></a>
    </div>
    <h1 id="header">TV StarWars</h1>
    <div>
        <a href="/tvstarwarsacolyte">
            <img src="/tvthumbnails/acolyte.jpg" class="tvshowimage" alt="Dark Winds">
        </a>
        <a href="/tvstarwarsahsoka">
            <img src="/tvthumbnails/ahsoka.jpg" class="tvshowimage" alt="Ahsoka">
        </a>
        <a href="/tvstarwarsandor">
            <img src="/tvthumbnails/andor.jpg" class="tvshowimage" alt="Andor">
        </a>
        <a href="/tvstarwarsbobafett">
            <img src="/tvthumbnails/bobafett.jpg" class="tvshowimage" alt="Boba Fett">
        </a>
        <a href="/tvstarwarsmandalorian">
            <img src="/tvthumbnails/mandalorian.jpg" class="tvshowimage" alt="The Mandalorian">
        </a>
        <a href="/tvstarwarsmaulshadowlord">
            <img src="/tvthumbnails/maulshadowlord.jpg" class="tvshowimage" alt="Maul: Shadowlord">
        </a>
        <a href="/tvstarwarsobiwankenobi">
            <img src="/tvthumbnails/obiwan.jpg" class="tvshowimage" alt="Obi-Wan Kenobi">
        </a>
        <a href="/tvstarwarsskeletoncrew">
            <img src="/tvthumbnails/skeletoncrew.jpg" class="tvshowimage" alt="Skeleton Crew">
        </a>
        <a href="/tvstarwarstalesoftheempire">
            <img src="/tvthumbnails/talesoftheempire.jpg" class="tvshowimage" alt="Tales of the Empire">
        </a>
        <a href="/tvstarwarstalesofthejedi">
            <img src="/tvthumbnails/talesofthejedi.jpg" class="tvshowimage" alt="Tales of the Jedi">
        </a>
        <a href="/tvstarwarstalesoftheunderworld">
            <img src="/tvthumbnails/talesoftheunderworld.jpg" class="tvshowimage" alt="Tales of the Underworld">
        </a>
        <a href="/tvstarwarsthebadbatch">
            <img src="/tvthumbnails/badbatch.jpg" class="tvshowimage" alt="The Bad Batch">
        </a>
        <a href="/tvstarwarsvisions">
            <img src="/tvthumbnails/visions.jpg" class="tvshowimage" alt="Visions">
        </a>
    </div>
</body>
<script src="/static/javascript/mtv.js"></script>

</html>