<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pagetitle">TVCartoons</title>
    <link rel="stylesheet" href="/static/css/mtv.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
    <div id="navbar">
        <a href="/"><button class="navbarbtn">Home</button></a>
        <a href="/mainmoviepage"><button class="navbarbtn">Movies</button></a>
        <a href="/maintvpage"><button class="navbarbtn">TV Shows</button></a>
        <a href="http://10.0.4.76:9090/"><button class="navbarbtn">Music</button></a>
    </div>
    <h1 id="header">TV Cartoons</h1>
    <div class="cat-div">
        <a href="/tvcartoonsspidernoir">
            <img src="/tvthumbnails/spidermannoir.jpg" class="tvshowimage" alt="Spider Noir">
        </a>
        <a href="/tvcartoonsjetsons">
            <img src="/tvthumbnails/jetsons.jpg" class="tvshowimage" alt="Jetsons">
        </a>
        <a href="/tvcartoonsjonnyquest">
            <img src="/tvthumbnails/jonnyquest.jpg" class="tvshowimage" alt="Jonny Quest">
        </a>
        <a href="/tvcartoonsmastersoftheuniverse">
            <img src="/tvthumbnails/mastersoftheuniverse.jpg" class="tvshowimage" alt="Masters of the Universe">
        </a>
        <a href="/tvcartoonsflintstones">
            <img src="/tvthumbnails/theflintstones.jpg" class="tvshowimage" alt="Flintstones">
        </a>
    </div>
</body>
<script src="/static/javascript/mtv.js"></script>

</html>