<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pagetitle">TV Shows</title>
    <link rel="stylesheet" href="/mtv.css">
</head>
<body>
    <div id="navbar">
        <a href="/index.html">
            <button class="navbarbtn">Home</button>
        </a>
        <a href="/mov/movmainpage.html">
            <button class="navbarbtn">Movies</button>
        </a>
        <a href="/tv/tvmainpage.html">
            <button class="navbarbtn">TV Shows</button>
        </a>
    </div>
	<h1 id="header">Tv Shows</h1>
    <div>
        <a href="/tvactiondarkwinds">
            <img src="/tvthumbnails/darkwinds.jpg" class="tvshowimage" alt="Dark Winds">
        </a>
        <a href="/tvactionmobland">
            <img src="/tvthumbnails/mobland.jpg" class="tvshowimage" alt="Mobland">
        </a>
        <a href="/tvactionshogun">
            <img src="/tvthumbnails/shogun.jpg" class="tvshowimage" alt="Shogun">
        </a>
        <a href="/tvactionthecontinental">
            <img src="/tvthumbnails/thecontinental.jpg" class="tvshowimage" alt="The Continental">
        </a>
    </div>
</body>
</html>