<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pagetitle">TVMCU</title>
    <link rel="stylesheet" href="/static/css/mtv.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
    <div class="mov-search-div">
		<a href="/"><button class="navbarbtn">Home</button></a>
		<a href="/mainmoviepage"><button class="navbarbtn">Movies</button></a>
		<a href="/maintvpage"><button class="navbarbtn">TV Shows</button></a>
		<a href="http://10.0.4.76:9090/"><button class="navbarbtn">Music</button></a>
	</div>
    <h1 id="header">TV MCU</h1>
    <div class="cat-div">
        <a href="/tvfalconandthewintersoldier">
            <img src="/tvthumbnails/falconwintersoldier.jpg" class="tvshowimage"
                alt="The Falcon and the Winter Soldier">
        </a>
        <a href="/tvhawkeye">
            <img src="/tvthumbnails/hawkeye.jpg" class="tvshowimage" alt="Hawkeye">
        </a>
        <a href="/tviamgroot">
            <img src="/tvthumbnails/iamgroot.jpg" class="tvshowimage" alt="I Am Groot">
        </a>
        <a href="/tvironheart">
            <img src="/tvthumbnails/ironheart.jpg" class="tvshowimage" alt="Ironheart">
        </a>
        <a href="/tvloki">
            <img src="/tvthumbnails/loki.jpg" class="tvshowimage" alt="Loki">
        </a>
        <a href="/tvmoonknight">
            <img src="/tvthumbnails/moonknight.jpg" class="tvshowimage" alt="Moon Knight">
        </a>
        <a href="/tvsecretinvasion">
            <img src="/tvthumbnails/secret_invasion.jpg" class="tvshowimage" alt="Secret Invasion">
        </a>
        <a href="/tvshehulk">
            <img src="/tvthumbnails/shehulk.jpg" class="tvshowimage" alt="She-Hulk">
        </a>
        <a href="/tvwandavision">
            <img src="/tvthumbnails/wandavision.jpg" class="tvshowimage" alt="WandaVision">
        </a>
        <a href="/tvwonderman">
            <img src="/tvthumbnails/wonderman.jpg" class="tvshowimage" alt="Wonder Man">
        </a>
    </div>
</body>
<script src="/static/javascript/mtv.js"></script>

</html>