<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MTV Movie List</title>
	<link rel="stylesheet" href="/static/css/mtv.css">
</head>

<body>
	<div id="navbar">
		<a href="/"><button class="navbarbtn">Home</button></a>
		<a href="/mainmoviepage"><button class="navbarbtn">Movies</button></a>
		<a href="/maintvpage"><button class="navbarbtn">TV Shows</button></a>
		<a href="http://10.0.4.76:9090/"><button class="navbarbtn">Music</button></a>
	</div>
	<!-- <h1 id="header">Current Weather</h1> -->
	<div class="weather-div">
		<p id="wi1" class="weather-div-item">{{.WeatherLocation}}</p>
		<p id="wi3" class="weather-div-item">{{.WeatherConditions}}</p>
		<p id="wi2" class="weather-div-item">{{.WeatherTemperature}} {{.WeatherUnit}}</p>
		<p id="wi4" class="weather-div-item">{{.WeatherWindDirection}} at {{.WeatherWindSpeed}}</p>
	</div>
	<h1 id="header">Stats</h1>

	{{if .IsNasaVideo}}
	<!-- <h1 id="header">NASA Astronomy Picture of the Day</h1> -->
	<div class="nasa-div">
		<h2>{{.NasaTitle}}</h2>
		<!-- <a href="{{.NasaURL}}" target="_blank">View on NASA</a> -->
		<video controls class="nasa-video">
			<source src="{{.NasaURL}}" type="video/mp4">
			Your browser does not support the video tag.
		</video>
		<p class="nasa-txt">{{.NasaExplanation}}</p>
	</div>
	{{else if .IsNasaImage}}
	<!-- <h1 id="header">NASA Astronomy Picture of the Day</h1> -->
	<div class="nasa-div">
		<h2>{{.NasaTitle}}</h2>
		<!-- <a href="{{.NasaHDURL}}" target="_blank">View HD Image on NASA</a> -->
		<img class="nasa-image" src="{{.NasaURL}}" alt="{{.NasaTitle}}">
		<p class="nasa-txt">{{.NasaExplanation}}</p>
	</div>
	{{end}}
	<div class="stats-div">
		<p id="i1" class="stat-div-item">Total Movies: {{.TotalMovies}} ({{.MovieSizeOnDisk}})</p>
		<p id="i2" class="stat-div-item">Total TV Episodes: {{.TotalTVShows}} ({{.TVShowSizeOnDisk}})</p>
		<p id="i3" class="stat-div-item">Total Videos: {{.TotalVideos}} ({{.VideoSizeOnDisk}})</p>
		<p id="i4" class="stat-div-item">Free Space on Disk: {{.FreeSpaceOnDisk}}</p>
	</div>
</body>
<script src="/static/javascript/mtv.js"></script>

</html>