

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MTV Movie List</title>
	<link rel="stylesheet" href="/static/css/mtv.css">
</head>
<body>
	<h1 id="header">MTV Movie List</h1>
	<div class="movlist">
		<a href='/templates/mov/moviepage.html?cat=action'><p class="mov">Action</p></a>
		<a href='/templates/mov/moviepage.html?cat=arnold'><p class="mov">Arnold</p></a>
		<a href='/templates/mov/moviepage.html?cat=avatar'><p class="mov">Avatar</p></a>
		<a href='/templates/mov/moviepage.html?cat=brucelee'><p class="mov">Bruce Lee</p></a>
		<a href='/templates/mov/moviepage.html?cat=brucewillis'><p class="mov">Bruce Willis</p></a>
		<a href='/templates/mov/moviepage.html?cat=buzz'><p class="mov">Buzz</p></a>
		<a href='/templates/mov/moviepage.html?cat=cartoons'><p class="mov">Cartoons</p></a>
		<a href='/templates/mov/moviepage.html?cat=charliebrown'><p class="mov">Charlie Brown</p></a>
		<a href='/templates/mov/moviepage.html?cat=cheechandchong'><p class="mov">Cheech And Chong</p></a>
		<a href='/templates/mov/moviepage.html?cat=chucknorris'><p class="mov">Chuck Norris</p></a>
		<a href='/templates/mov/moviepage.html?cat=clinteastwood'><p class="mov">Clint Eastwood</p></a>
		<a href='/templates/mov/moviepage.html?cat=comedy'><p class="mov">Comedy</p></a>
		<a href='/templates/mov/moviepage.html?cat=drama'><p class="mov">Drama</p></a>
		<a href='/templates/mov/moviepage.html?cat=documentary'><p class="mov">Documentary</p></a>
		<a href='/templates/mov/moviepage.html?cat=fantasy'><p class="mov">Fantasy</p></a>
		<a href='/templates/mov/moviepage.html?cat=ghostbusters'><p class="mov">GhostBusters</p></a>
		<a href='/templates/mov/moviepage.html?cat=godzilla'><p class="mov">Godzilla</p></a>
		<a href='/templates/mov/moviepage.html?cat=harrisonford'><p class="mov">HarrisonFord</p></a>
		<a href='/templates/mov/moviepage.html?cat=harrypotter'><p class="mov">Harry Potter</p></a>
		<a href='/templates/mov/moviepage.html?cat=hellboy'><p class="mov">HellBoy</p></a>
		<a href='/templates/mov/moviepage.html?cat=homevids'><p class="mov">Home Vids</p></a>
		<a href='/templates/mov/moviepage.html?cat=indianajones'><p class="mov">Indiana Jones</p></a>
		<a href='/templates/mov/moviepage.html?cat=jamesbond'><p class="mov">James Bond</p></a>
		<a href='/templates/mov/moviepage.html?cat=johnwayne'><p class="mov">John Wayne</p></a>
		<a href='/templates/mov/moviepage.html?cat=johnwick'><p class="mov">John Wick</p></a>
		<a href='/templates/mov/moviepage.html?cat=jurassicpark'><p class="mov">Jurrasic Park</p></a>
		<a href='/templates/mov/moviepage.html?cat=kevincostner'><p class="mov">Kevin Costner</p></a>
		<a href='/templates/mov/moviepage.html?cat=kingsman'><p class="mov">KingsMan</p></a>
		<a href='/templates/mov/moviepage.html?cat=lego'><p class="mov">Lego</p></a>
		<a href='/templates/mov/moviepage.html?cat=meninblack'><p class="mov">Men In Black</p></a>
		<a href='/templates/mov/moviepage.html?cat=minions'><p class="mov">Minions</p></a>
		<a href='/templates/mov/moviepage.html?cat=misc'><p class="mov">Misc</p></a>
		<a href='/templates/mov/moviepage.html?cat=musicvids'><p class="mov">Music Vids</p></a>
		<a href='/templates/mov/moviepage.html?cat=mummy'><p class="mov">Mummy</p></a>
		<a href='/templates/mov/moviepage.html?cat=nature'><p class="mov">Nature</p></a>
		<a href='/templates/mov/moviepage.html?cat=nicolascage'><p class="mov">Nicolas Cage</p></a>
		<a href='/templates/mov/moviepage.html?cat=oldies'><p class="mov">Oldies</p></a>
		<a href='/templates/mov/moviepage.html?cat=pandas'><p class="mov">Pandas</p></a>
		<a href='/templates/mov/moviepage.html?cat=pirates'><p class="mov">Pirates</p></a>
		<a href='/templates/mov/moviepage.html?cat=predator'><p class="mov">Predator</p></a>
		<a href='/templates/mov/moviepage.html?cat=riddick'><p class="mov">Riddick</p></a>
		<a href='/templates/mov/moviepage.html?cat=science'><p class="mov">Science</p></a>
		<a href='/templates/mov/moviepage.html?cat=scifi'><p class="mov">SciFi</p></a>
		<a href='/templates/mov/moviepage.html?cat=stalone'><p class="mov">Stalone</p></a>
		<a href='/templates/mov/moviepage.html?cat=startrek'><p class="mov">Star Trek</p></a>
		<a href='/templates/mov/moviepage.html?cat=starwars'><p class="mov">Star Wars</p></a>
		<a href='/templates/mov/moviepage.html?cat=stooges'><p class="mov">Stooges</p></a>
		<a href='/templates/mov/moviepage.html?cat=superheros'><p class="mov">Super Heros</p></a>
		<a href='/templates/mov/moviepage.html?cat=superman'><p class="mov">SuperMan</p></a>
		<a href='/templates/mov/moviepage.html?cat=tinkerbell'><p class="mov">Tinker Bell</p></a>
		<a href='/templates/mov/moviepage.html?cat=tomcruize'><p class="mov">Tom Cruize</p></a>
		<a href='/templates/mov/moviepage.html?cat=transformers'><p class="mov">Transformers</p></a>
		<a href='/templates/mov/moviepage.html?cat=tremors'><p class="mov">Tremors</p></a>
		<a href='/templates/mov/moviepage.html?cat=trolls'><p class="mov">Trolls</p></a>
		<a href='/templates/mov/moviepage.html?cat=therock'><p class="mov">The Rock</p></a>
		<a href='/templates/mov/moviepage.html?cat=vandam'><p class="mov">VanDam</p></a>
		<a href='/templates/mov/moviepage.html?cat=xmen'><p class="mov">XMen</p></a>
	</div>
</body>
</html>
