<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pagetitle">TVNCIS</title>
    <link rel="stylesheet" href="/static/css/mtv.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
    <div id="navbar">
        <a href="/"><button class="navbarbtn">Home</button></a>
        <a href="/mainmoviepage"><button class="navbarbtn">Movies</button></a>
        <a href="/maintvpage"><button class="navbarbtn">TV Shows</button></a>
        <a href="http://10.0.4.76:9090/"><button class="navbarbtn">Music</button></a>
    </div>
    <h1 id="header">TV NCIS</h1>
    <div>
        <a href="/tvncishawaii">
            <img src="/tvthumbnails/ncis_hawaii.jpg" class="tvshowimage" alt="Dark Winds">
        </a>
        <a href="/tvncisneworleans">
            <img src="/tvthumbnails/ncis_new_orleans.jpg" class="tvshowimage" alt="Mobland">
        </a>
        <a href="/tvncisla">
            <img src="/tvthumbnails/ncis_los_angeles.jpg" class="tvshowimage" alt="Shogun">
        </a>
        <a href="/tvncisorigings">
            <img src="/tvthumbnails/ncis_origins.jpg" class="tvshowimage" alt="The Continental">
        </a>
        <a href="/tvncisncis">
            <img src="/tvthumbnails/ncis.jpg" class="tvshowimage" alt="Dark Winds">
        </a>
        <a href="/tvncissydney">
            <img src="/tvthumbnails/ncis_sydney.jpg" class="tvshowimage" alt="Mobland">
        </a>
        <a href="/tvnciszivaandtoni">
            <img src="/tvthumbnails/tonyandziva.jpg" class="tvshowimage" alt="Shogun">
        </a>
    </div>
</body>
<script src="/static/javascript/mtv.js"></script>

</html>