<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pagetitle">TV Shows</title>
    <link rel="stylesheet" href="/static/css/mtv.css">
</head>
<body>
    <div id="navbar">
        <a href="/"><button class="navbarbtn">Home</button></a>
        <a href="/mainmoviepage"><button class="navbarbtn">Movies</button></a>
        <a href="/maintvpage"><button class="navbarbtn">TV Shows</button></a>
    </div>
	<h1 id="header">Tv Shows</h1>
    <div class="tv-cat-grid">
        <a class="tv-cat-grid-item" href="/action/tvactionpage"><p>Action</p></a>
        <a class="tv-cat-grid-item" href="/tvcartoonspage"><p>Cartoons</p></a>
        <a class="tv-cat-grid-item" href="/tvcomedypage"><p>Comedy</p></a>
        <a class="tv-cat-grid-item" href="/tvfantasypage"><p>Fantasy</p></a>
        <a class="tv-cat-grid-item" href="/tvmcupage"><p>MCU</p></a>
        <a class="tv-cat-grid-item" href="/tvncispage"><p>NCIS</p></a>
        <a class="tv-cat-grid-item" href="/tvsciencepage"><p>Science</p></a>
        <a class="tv-cat-grid-item" href="/tvscifipage"><p>SciFi</p></a>
        <a class="tv-cat-grid-item" href="/tvstartrekpage"><p>Star Trek</p></a>
        <a class="tv-cat-grid-item" href="/tvstarwarspage"><p>Star Wars</p></a>
        <a class="tv-cat-grid-item" href="/tvwesternspage"><p>Westerns</p></a>
    </div>
</body>
</html>