<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pagetitle">TV Shows</title>
    <link rel="stylesheet" href="/static/css/mtv.css">
</head>
<body>
    <div id="navbar">
        <a href="/index.html"><button class="navbarbtn">Home</button></a>
        <a href="/mov/movmainpage.html"><button class="navbarbtn">Movies</button></a>
        <a href="/tv/tvmainpage.html"><button class="navbarbtn">TV Shows</button></a>
    </div>
	<h1 id="header">Tv Shows</h1>
    <div class="tv-cat-grid">
        <a class="tv-cat-grid-item" href="/tv/action/tvactionpage.html"><p>Action</p></a>
        <a class="tv-cat-grid-item" href="/tv/tvcartoonspage.html"><p>Cartoons</p></a>
        <a class="tv-cat-grid-item" href="/tv/tvcomedypage.html"><p>Comedy</p></a>
        <a class="tv-cat-grid-item" href="/tv/tvfantasypage.html"><p>Fantasy</p></a>
        <a class="tv-cat-grid-item" href="/tv/tvmcupage.html"><p>MCU</p></a>
        <a class="tv-cat-grid-item" href="/tv/tvncispage.html"><p>NCIS</p></a>
        <a class="tv-cat-grid-item" href="/tv/tvsciencepage.html"><p>Science</p></a>
        <a class="tv-cat-grid-item" href="/tv/tvscifipage.html"><p>SciFi</p></a>
        <a class="tv-cat-grid-item" href="/tv/tvstartrekpage.html"><p>Star Trek</p></a>
        <a class="tv-cat-grid-item" href="/tv/tvstarwarspage.html"><p>Star Wars</p></a>
        <a class="tv-cat-grid-item" href="/tv/tvwesternspage.html"><p>Westerns</p></a>
    </div>
</body>
</html>