<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bruce Willis Movies</title>
	<link rel="stylesheet" href="/mtv.css">
</head>
<body>
    <div id="navbar">
        <a href="/index.html"><button class="navbarbtn">Home</button></a>
        <a href="/mov/movmainpage.html"><button class="navbarbtn">Movies</button></a>
        <a href="/tv/tvmainpage.html"><button class="navbarbtn">TV Shows</button></a>
    </div>
	<h1>Bruce Willis Movies</h1>
	<div class="mov-images-grid">
		{{range .Images}}
			<img src="{{.}}" alt="Bruce Willis Movie" class="mov-img" />
		{{else}}
			<p>No Bruce Willis movie images found.</p>
		{{end}}
	</div>
</body>
</html>
