<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Comedy Movies</title>
	<link rel="stylesheet" href="/static/css/mtv.css">
</head>
<body>
    <div id="navbar">
        <a href="/"><button class="navbarbtn">Home</button></a>
        <a href="/mainmoviepage"><button class="navbarbtn">Movies</button></a>
        <a href="/maintvpage"><button class="navbarbtn">TV Shows</button></a>
    </div>
	<h1>Comedy Movies</h1>
	<div class="mov-images-grid">
		{{range .Images}}
			<img src="{{.}}" alt="Comedy Movie" class="mov-img" />
		{{else}}
			<p>No Comedy movie images found.</p>
		{{end}}
	</div>
</body>
</html>
