<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Godzilla Movies</title>
	<link rel="stylesheet" href="/static/css/mtv.css">
</head>
<body>
    <div id="navbar">
        <a href="/static/index.html"><button class="navbarbtn">Home</button></a>
        <a href="/static/mov/movmainpage.html"><button class="navbarbtn">Movies</button></a>
        <a href="/static/tv/tvmainpage.html"><button class="navbarbtn">TV Shows</button></a>
    </div>
	<h1>Godzilla Movies</h1>
	<div class="mov-images-grid">
		{{range .Images}}
			<img src="{{.}}" alt="Godzilla Movie" class="mov-img" />
		{{else}}
			<p>No Godzilla movie images found.</p>
		{{end}}
	</div>
</body>
</html>
