

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MTV Movie List</title>
	<link rel="stylesheet" href="/mtv.css">
</head>
<body>
	<div id="navbar">
        <a href="/index.html"><button class="navbarbtn">Home</button></a>
        <a href="/mov/movmainpage.html"><button class="navbarbtn">Movies</button></a>
        <a href="/tv/tvmainpage.html"><button class="navbarbtn">TV Shows</button></a>
    </div>
	<h1 id="header">MTV Movie List</h1>
	<div class="movlist">
		<a href='/templates/mov/movactionpage.html'><p class="mov">Action</p></a>
		<a href='/templates/mov/movarnoldpage.html'><p class="mov">Arnold</p></a>
		<a href='/templates/mov/movavatarpage.html'><p class="mov">Avatar</p></a>
		<a href='/templates/mov/movbruceleepage.html'><p class="mov">Bruce Lee</p></a>
		<a href='/templates/mov/movbrucewillispage.html'><p class="mov">Bruce Willis</p></a>
		<a href='/templates/mov/movbuzzpage.html'><p class="mov">Buzz</p></a>
		<a href='/templates/mov/movcartoonspage.html'><p class="mov">Cartoons</p></a>
		<a href='/templates/mov/movcharliebrownpage.html'><p class="mov">Charlie Brown</p></a>
		<a href='/templates/mov/movcheechandchongpage.html'><p class="mov">Cheech And Chong</p></a>
		<a href='/templates/mov/movchucknorrispage.html'><p class="mov">Chuck Norris</p></a>
		<a href='/templates/mov/movclinteastwoodpage.html'><p class="mov">Clint Eastwood</p></a>
		<a href='/templates/mov/movcomedypage.html'><p class="mov">Comedy</p></a>
		<a href='/templates/mov/movdramapage.html'><p class="mov">Drama</p></a>
		<a href='/templates/mov/movdocumentarypage.html'><p class="mov">Documentary</p></a>
		<a href='/templates/mov/movfantasypage.html'><p class="mov">Fantasy</p></a>
		<a href='/templates/mov/movghostbusterpage.html'><p class="mov">GhostBusters</p></a>
		<a href='/templates/mov/movgodzillapage.html'><p class="mov">Godzilla</p></a>
		<a href='/templates/mov/movharrisonfordpage.html'><p class="mov">HarrisonFord</p></a>
		<a href='/templates/mov/movharrypotterpage.html'><p class="mov">HarryPotter</p></a>
		<a href='/templates/mov/movhellboypage.html'><p class="mov">HellBoy</p></a>
		<a href='/templates/mov/movhomevidspage.html'><p class="mov">Home Vids</p></a>
		<a href='/templates/mov/movindianajonespage.html'><p class="mov">Indiana Jones</p></a>
		<a href='/templates/mov/movjamesbondpage.html'><p class="mov">James Bond</p></a>
		<a href='/templates/mov/movjohnwaynepage.html'><p class="mov">John Wayne</p></a>
		<a href='/templates/mov/movjohnwickpage.html'><p class="mov">John Wick</p></a>
		<a href='/templates/mov/movjurassicparkpage.html'><p class="mov">Jurrasic Park</p></a>
		<a href='/templates/mov/movkevincostnerpage.html'><p class="mov">Kevin Costner</p></a>
		<a href='/templates/mov/movkingsmanpage.html'><p class="mov">KingsMan</p></a>
		<a href='/templates/mov/movlegopage.html'><p class="mov">Lego</p></a>
		<a href='/templates/mov/movmeninblackpage.html'><p class="mov">Men In Black</p></a>
		<a href='/templates/mov/movminionspage.html'><p class="mov">Minions</p></a>
		<a href='/templates/mov/movmiscpage.html'><p class="mov">Misc</p></a>
		<a href='/templates/mov/movmusicvidspage.html'><p class="mov">Music Vids</p></a>
		<a href='/templates/mov/movmummypage.html'><p class="mov">Mummy</p></a>
		<a href='/templates/mov/movnaturepage.html'><p class="mov">Nature</p></a>
		<a href='/templates/mov/movnicolascagepage.html'><p class="mov">Nicolas Cage</p></a>
		<a href='/templates/mov/movoldiespage.html'><p class="mov">Oldies</p></a>
		<a href='/templates/mov/movpandaspage.html'><p class="mov">Pandas</p></a>
		<a href='/templates/mov/movpiratespage.html'><p class="mov">Pirates</p></a>
		<a href='/templates/mov/movpredatorpage.html'><p class="mov">Predator</p></a>
		<a href='/templates/mov/movriddickpage.html'><p class="mov">Riddick</p></a>
		<a href='/templates/mov/movsciencepage.html'><p class="mov">Science</p></a>
		<a href='/templates/mov/movscifipage.html'><p class="mov">SciFi</p></a>
		<a href='/templates/mov/movstalonepage.html'><p class="mov">Stalone</p></a>
		<a href='/templates/mov/movstartrekpage.html'><p class="mov">Star Trek</p></a>
		<a href='/templates/mov/movstarwarspage.html'><p class="mov">Star Wars</p></a>
		<a href='/templates/mov/movstoogespage.html'><p class="mov">Stooges</p></a>
		<a href='/templates/mov/movsuperherospage.html'><p class="mov">Super Heros</p></a>
		<a href='/templates/mov/movsupermanpage.html'><p class="mov">SuperMan</p></a>
		<a href='/templates/mov/movtinkerbellpage.html'><p class="mov">Tinker Bell</p></a>
		<a href='/templates/mov/movtomcruizepage.html'><p class="mov">Tom Cruize</p></a>
		<a href='/templates/mov/movtransformerspage.html'><p class="mov">Transformers</p></a>
		<a href='/templates/mov/movtremorspage.html'><p class="mov">Tremors</p></a>
		<a href='/templates/mov/movtrollspage.html'><p class="mov">Trolls</p></a>
		<a href='/templates/mov/movtherockpage.html'><p class="mov">The Rock</p></a>
		<a href='/templates/mov/movvandampage.html'><p class="mov">VanDam</p></a>
		<a href='/templates/mov/movxmenpage.html'><p class="mov">XMen</p></a>
	</div>
</body>
</html>
