

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MTV Movie List</title>
	<link rel="stylesheet" href="/static/css/mtv.css">
</head>
<body>
	<div id="navbar">
        <a href="/"><button class="navbarbtn">Home</button></a>
        <a href="/mainmoviepage"><button class="navbarbtn">Movies</button></a>
        <a href="/maintvpage"><button class="navbarbtn">TV Shows</button></a>
    </div>
	<h1 id="header">MTV Movie List</h1>
	<div class="movlist">
		<a href='/movactionpage'><p class="mov">Action</p></a>
		<a href='/movarnoldpage'><p class="mov">Arnold</p></a>
		<a href='/movavatarpage'><p class="mov">Avatar</p></a>
		<a href='/movbruceleepage'><p class="mov">Bruce Lee</p></a>
		<a href='/movbrucewillispage'><p class="mov">Bruce Willis</p></a>
		<a href='/movbuzzpage'><p class="mov">Buzz</p></a>
		<a href='/movcartoonspage'><p class="mov">Cartoons</p></a>
		<a href='/movcharliebrownpage'><p class="mov">Charlie Brown</p></a>
		<a href='/movcheechandchongpage'><p class="mov">Cheech And Chong</p></a>
		<a href='/movchucknorrispage'><p class="mov">Chuck Norris</p></a>
		<a href='/movclinteastwoodpage'><p class="mov">Clint Eastwood</p></a>
		<a href='/movcomedypage'><p class="mov">Comedy</p></a>
		<a href='/movdramapage'><p class="mov">Drama</p></a>
		<a href='/movdocumentarypage'><p class="mov">Documentary</p></a>
		<a href='/movfantasypage'><p class="mov">Fantasy</p></a>
		<a href='/movghostbusterpage'><p class="mov">GhostBusters</p></a>
		<a href='/movgodzillapage'><p class="mov">Godzilla</p></a>
		<a href='/movharrisonfordpage'><p class="mov">HarrisonFord</p></a>
		<a href='/movharrypotterpage'><p class="mov">HarryPotter</p></a>
		<a href='/movhellboypage'><p class="mov">HellBoy</p></a>
		<a href='/movhomevidspage'><p class="mov">Home Vids</p></a>
		<a href='/movindianajonespage'><p class="mov">Indiana Jones</p></a>
		<a href='/movjamesbondpage'><p class="mov">James Bond</p></a>
		<a href='/movjohnwaynepage'><p class="mov">John Wayne</p></a>
		<a href='/movjohnwickpage'><p class="mov">John Wick</p></a>
		<a href='/movjurassicparkpage'><p class="mov">Jurrasic Park</p></a>
		<a href='/movkevincostnerpage'><p class="mov">Kevin Costner</p></a>
		<a href='/movkingsmanpage'><p class="mov">KingsMan</p></a>
		<a href='/movlegopage'><p class="mov">Lego</p></a>
		<a href='/movmeninblackpage'><p class="mov">Men In Black</p></a>
		<a href='/movminionspage'><p class="mov">Minions</p></a>
		<a href='/movmiscpage'><p class="mov">Misc</p></a>
		<a href='/movmusicvidspage'><p class="mov">Music Vids</p></a>
		<a href='/movmummypage'><p class="mov">Mummy</p></a>
		<a href='/movnaturepage'><p class="mov">Nature</p></a>
		<a href='/movnicolascagepage'><p class="mov">Nicolas Cage</p></a>
		<a href='/movoldiespage'><p class="mov">Oldies</p></a>
		<a href='/movpandaspage'><p class="mov">Pandas</p></a>
		<a href='/movpiratespage'><p class="mov">Pirates</p></a>
		<a href='/movpredatorpage'><p class="mov">Predator</p></a>
		<a href='/movriddickpage'><p class="mov">Riddick</p></a>
		<a href='/movsciencepage'><p class="mov">Science</p></a>
		<a href='/movscifipage'><p class="mov">SciFi</p></a>
		<a href='/movstalonepage'><p class="mov">Stalone</p></a>
		<a href='/movstartrekpage'><p class="mov">Star Trek</p></a>
		<a href='/movstarwarspage'><p class="mov">Star Wars</p></a>
		<a href='/movstoogespage'><p class="mov">Stooges</p></a>
		<a href='/movsuperherospage'><p class="mov">Super Heros</p></a>
		<a href='/movsupermanpage'><p class="mov">SuperMan</p></a>
		<a href='/movtinkerbellpage'><p class="mov">Tinker Bell</p></a>
		<a href='/movtomcruizepage'><p class="mov">Tom Cruize</p></a>
		<a href='/movtransformerspage'><p class="mov">Transformers</p></a>
		<a href='/movtremorspage'><p class="mov">Tremors</p></a>
		<a href='/movtrollspage'><p class="mov">Trolls</p></a>
		<a href='/movtherockpage'><p class="mov">The Rock</p></a>
		<a href='/movvandampage'><p class="mov">VanDam</p></a>
		<a href='/movxmenpage'><p class="mov">XMen</p></a>
	</div>
</body>
</html>
