<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nature Movies</title>
	<link rel="stylesheet" href="/static/css/mtv.css">
</head>
<body>
    <div id="navbar">
        <a href="/"><button class="navbarbtn">Home</button></a>
        <a href="/mainmoviepage"><button class="navbarbtn">Movies</button></a>
        <a href="/maintvpage"><button class="navbarbtn">TV Shows</button></a>
    </div>
	<h1>Nature Movies</h1>
	<div class="mov-images-grid">
		{{range .Images}}
			<img 
				id="{{.MovId}}" 
				src="{{.HttpThumbPath}}" 
				alt="{{.Name}}" 
				class="mov-img" 
			/>
		{{else}}
			<p>No Nature movie images found.</p>
		{{end}}
	</div>
	<div id="navbar">
		<a href="/"><button class="navbarbtn">Home</button></a>
		<a href="/mainmoviepage"><button class="navbarbtn">Movies</button></a>
		<a href="/maintvpage"><button class="navbarbtn">TV Shows</button></a>
	</div>
</body>
<script src="/static/javascript/mtv.js"></script>
</html>
